{% set totalHT=0  %}
<div class="well">

        {% for produit in produits %}
            {% set totalHT=totalHT+produit.prix * panier[produit.id]  %}
        {% endfor %}
        <div class="dropdown">
            <a href="#_" class="fables-third-text-color dropdown-toggle right px-3 px-md-2 px-lg-4 fables-second-hover-color top-header-link max-line-height position-relative" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="fas fa-shopping-cart" ></span>
                <span class="fables-cart-number fables-second-background-color text-center">

                {% if produits|length == 1 %}
                    {{ produits|length }}
                {% else %}
                    {{ produits|length }}
                {% endif %}</span>
                </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <div class="p-3 cart-block">
                            <span class="font-16 semi-font fables-main-text-color"></span>
                            <span class="font-14 semi-font fables-second-text-color float-right"></span>
                            {% if  produits|length == 0  %}
                            Votre panier est vide
                            {% else %}
                            {% for produit in produits %}
                            <div class="row mx-0 mb-3">
                                <div class="col-4 p-0">
                                    <a href="#"><img src="{{ asset(produit.getPhoto()) }}" alt="" class="w-100"></a>
                                </div>
                                    <div class="col-8">
                                    <p>{{ produit.nom }}   <span class="pull-right"></span></p>
                                    <p class="fables-forth-text-color"> Quantité :  {{ panier[produit.id] }} </p>
                                    </div>
                            </div>
                            {% endfor %}
                            {% endif %}


                <hr>
                <div class="text-center">
                    <a href="{{ path('afficherPanier')}}" class="btn btn-primary  fables-btn-rounded  text-center fables-second-hover-background-color">Mon Panier</a>
                    <a href="{{ path('validation')}}" class="btn btn-primary  fables-btn-rounded text-center  fables-second-hover-background-color">Valider</a>
                </div>
            </div>
        </div>


        </div>
</div>