{% extends 'base.html.twig' %}
{% block barre %} {% endblock %}

    {% block title %} {{ produit.nom }} {% endblock %}
    {% block description %}{{ produit.description }}{% endblock %}
{% block content %}
    <body>
    <div class="search-section">
        <a class="close-search" href="#"></a>
        <div class="d-flex justify-content-center align-items-center h-100">
            <form method="post" action="#" class="w-50">
                <div class="row">
                    <div class="col-10">
                        <input type="search" value="" class="form-control palce bg-transparent border-0 search-input"
                               placeholder="Search Here ..."/>
                    </div>
                    <div class="col-2 mt-3">
                        <button type="submit" class="btn bg-transparent text-white"><i class="fas fa-search"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>

<div class="container">
    <div class="row my-4 my-md-5">
        <div class="col-12 col-md-4 col-lg-3">
            <div class="fables-store-search mb-4">
                <form>
                    <div class="input-icon">
                        <span class="fables-iconsearch-icon fables-input-icon"></span>
                        <input type="text"
                               class="form-control rounded-0 form-control rounded-0 font-14 fables-store-input pl-5 py-2"
                               placeholder="Search Product">
                    </div>

                </form>
            </div>
            <div class="rage-slider">
                <h2 class="font-16 semi-font fables-forth-text-color fables-light-gary-background  p-3 mb-4">Filter
                    by price</h2>
                <form>
                    <div class="range-slider fables-forth-text-color" id="facet-price-range-slider"
                         data-options='{"output":{"prefix":""},"maxSymbol":"+"}'>
                        <input name="range-1" value="0" min="0" max="10000" step="1" type="range">
                        <input name="range-2" value="10000" min="0" max="10000" step="1" type="range">
                    </div>
                    <button type="submit"
                            class="btn btn-block fables-second-background-color rounded-0 white-color white-color-hover p-2 font-15 mb-4">
                        Filter
                    </button>
                </form>
            </div>
            <h2 class="font-16 semi-font fables-forth-text-color fables-light-gary-background  p-3 mb-4">Product
                Categories</h2>
            <h2 class="font-16 semi-font fables-forth-text-color fables-light-gary-background  p-3 my-4">Top Rated
                Products</h2>
            <div class="row mb-3">
            </div>
            <div class="row mb-3">
                <div class="col-4 pr-0"></div>
                <div class="col-8">
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-4 pr-0">
                </div>
                <div class="col-8"></div>
            </div>
            <div class="row mb-3">
                <div class="col-4 pr-0"></div>
                <div class="col-8"></div>
            </div>
            <div class="row mb-3">
                <div class="col-4 pr-0"></div>
                <div class="col-8"></div>
            </div>
            <div class="row mb-3">
                <div class="col-4 pr-0"></div>
                <div class="col-8"></div>
            </div>
            <div class="row mb-3">
                <div class="col-4 pr-0">
                </div>
                <div class="col-8"></div>
            </div>
            <div class="row mb-3">
                <div class="col-4 pr-0"></div>
                <div class="col-8"></div>
            </div>
        </div>
    <div class="span9">
        <div class="row">
            <table>
                <div class="span5">
                    <img  width="350" height="250" src="{{ asset(produit.getPhoto()) }}">
                </div>
            </table>

            <div class="span4">
                <h4>{{ produit.nom }}</h4>
                <p>{{ produit.discription }}</p>
                <h4>{{ produit.prix }} dt</h4>

                {% if panier[produit.id] is not defined %}
                    <form action="{{ path('ajouterAuPanier',{'id':produit.id}) }}" method="get">
                        <select name="qte" class="span1">
                            {% for i in 1..10 %}
                                <option value="{{ i }}">{{ i }}</option>
                            {% endfor %}
                        </select>
                        <div>
                            <button class="btn btn-primary">Ajouter au panier</button>
                        </div>
                    </form>
                {% else %}
                    <a class="btn btn-success" href="{{ path('afficherPanier')}}">Déja au panier</a>
                {% endif %}

            </div>
        </div>
    </div>
    </div>
</div>
    </body>
{% endblock %}
