{% extends 'base.html.twig' %}

{% block barre %}

{% endblock %}

{% block content %}
    <body>
    <!-- Start page content -->
    <div class="container">
        <div class="row my-4 my-md-5">
            <div class="col-12 col-md-4 col-lg-3">
                <div class="fables-store-search mb-4">
                    <div class="blog-search">
                        <form class="news-form" method="post">
                            <input type="text" placeholder="Rechercher" name="rech">
                            <button type="submit">
                                <i class="fas fa-search"></i>
                            </button>
                        </form>
                    </div>
                </div>
                <div class="rage-slider">
                    <h2 class="font-16 semi-font fables-forth-text-color fables-light-gary-background  p-3 mb-4">Filtrer par prix</h2>
                    <form>

                        <a href="{{ path('store1' )}}" class="btn btn-block fables-second-background-color rounded-0 white-color white-color-hover p-2 font-15 mb-4">Filter Prix Descandant</a>
                        <a  href="{{ path('store2' )}}" class="btn btn-block fables-second-background-color rounded-0 white-color white-color-hover p-2 font-15 mb-4">Filter Prix Ascendant</a>
                    </form>
                </div>
                <h2 class="font-16 semi-font fables-forth-text-color fables-light-gary-background  p-3 mb-4">Product
                    Categories</h2>
                <h2 class="font-16 semi-font fables-forth-text-color fables-light-gary-background  p-3 my-4">Top Rated
                    Products</h2>
                <div class="row mb-3">
                </div>
                <div class="row mb-3">
                    <div class="col-4 pr-0"></div>
                    <div class="col-8">
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-4 pr-0">
                    </div>
                    <div class="col-8"></div>
                </div>
                <div class="row mb-3">
                    <div class="col-4 pr-0"></div>
                    <div class="col-8"></div>
                </div>
                <div class="row mb-3">
                    <div class="col-4 pr-0"></div>
                    <div class="col-8"></div>
                </div>
                <div class="row mb-3">
                    <div class="col-4 pr-0"></div>
                    <div class="col-8"></div>
                </div>
                <div class="row mb-3">
                    <div class="col-4 pr-0">
                    </div>
                    <div class="col-8"></div>
                </div>
                <div class="row mb-3">
                    <div class="col-4 pr-0"></div>
                    <div class="col-8"></div>
                </div>
            </div>
            <div class="col-12 col-md-8 col-lg-9">
                <div class="row mb-4">
                    <div class="col-12 col-lg-4">
                        <i> <h3 style="color:#A9A9A9";> Store Grid</h3></i>
                    </div>
                    <div class="col-4 col-md-6 col-lg-2 offset-lg-6 text-center pl-0 d-none d-lg-block">
                        <span class="fas fa-th-list fa-fw fables-view-btn fables-list-btn fables-third-border-color fables-third-text-color"></span>
                        <span class="fas fa-th-large active fa-fw fables-view-btn fables-grid-btn fables-third-border-color fables-third-text-color"></span>
                    </div>
                </div>
                <div class="row" >
                    <div class="col-12 col-sm-6 col-lg-4 fables-product-block">

                                <table id="table_produit" >
                                    {% if produits|length != 0 %}
                                    {% for produit in produits %}
                                        <!--    <li class="span3">-->
                                                <td>
                                                    <br>
                                                    <img width="250" height="250" src="{{ asset(produit.getPhoto()) }}">
                                                    <br>
                                                        <div class="caption">

                                                            <br>
                                                        <b>{{ produit.nom }}</b>

                                                            <br>
                                                            <h style="margin-left: inherit">Prix :{{ produit.prix }} dt</h>
                                                                <br>
                                                            <br>
                                                      {% if panier[produit.id] is not defined %}
                                                            <a class="btn btn-primary  fables-btn-rounded  text-center fables-second-hover-background-color"
                                                               href="{{ path('ajouterAuPanier',{'id':produit.id} ) }}">Ajouter au panier</a>
                                                        {% else %}
                                                            <a class="btn btn-primary  fables-btn-rounded  text-center fables-second-hover-background-color" href="{{ path('afficherPanier') }}">Déja au panier</a>
                                                        {% endif %}
                                                            <a class="btn btn-primary  fables-btn-rounded  text-center fables-second-hover-background-color"
                                                               href="{{ path('produit',{'id': produit.id } ) }}"> Voir <i class="fas fa-plus-circle"></i> </a>
                                                    </div>
                                                </td>
                                    {% endfor %}
                                </table>
                    </div>
                </div>
                <br>
                <br>

               <div class="navigation">
                   <ul class="pagination justify-content-center">
                    {{ knp_pagination_render(produits) }}
                   </ul>
                </div>

                {% else %}
                    <p>Aucun Produit pour le moment </p>
                {% endif %}

            </div>

        </div>

    </div>
    <!-- /End page content -->
    </body>

    <script>
        $(document).ready(function(){
            $('#search').keyup(function(){
                search_table($(this).val());
            });
            function search_table(value){
                $('#table_produit tr').each(function(){
                    var found = 'false';
                    $(this).each(function(){
                        if($(this).text().toLowerCase().indexOf(value.toLowerCase()) >= 0)
                        {
                            found = 'true';
                        }
                    });
                    if(found == 'true')
                    {
                        $(this).show();

                    }
                    else
                    {
                        $(this).hide();
                    }
                });
            }
        });
    </script>

{% endblock %}

