<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="au theme template">
    <meta name="author" content="Hau Nguyen">
    <meta name="keywords" content="au theme template">
    <title>{% block title %}Cite de la culture{% endblock %}</title>
    <link href="{{ asset('back/css/font-face.css" rel="stylesheet') }}"  rel="stylesheet" media="all">
    <link href="{{ asset('back/vendor/font-awesome-4.7/css/font-awesome.min.css') }}" rel="stylesheet" media="all">
    <link href="{{  asset('back/vendor/font-awesome-5/css/fontawesome-all.min.css') }}" rel="stylesheet" media="all">
    <link href="{{ asset('back/vendor/mdi-font/css/material-design-iconic-font.min.css') }}" rel="stylesheet" media="all">
    <link href="{{ asset('back/vendor/bootstrap-4.1/bootstrap.min.css') }}" rel="stylesheet" media="all">
    <link href="{{ asset('back/vendor/animsition/animsition.min.css') }}" rel="stylesheet" media="all">
    <link href="{{ asset('back/vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css') }}" rel="stylesheet" media="all">
    <link href="{{ asset('back/vendor/wow/animate.css') }}" rel="stylesheet" media="all">
    <link href="{{ asset('back/vendor/css-hamburgers/hamburgers.min.css') }}" rel="stylesheet" media="all">
    <link href="{{  asset('back/vendor/slick/slick.css') }}" rel="stylesheet" media="all">
    <link href="{{  asset('back/vendor/select2/select2.min.css') }}" rel="stylesheet" media="all">
    <link href="{{ asset('back/vendor/perfect-scrollbar/perfect-scrollbar.css') }}" rel="stylesheet" media="all">
    <link href="{{  asset('back/vendor/vector-map/jqvmap.min.css" rel="stylesheet') }}" rel="stylesheet" media="all">
    <link href="{{  asset('back/css/theme.css') }}" rel="stylesheet" media="all">
</head>

<body class="animsition">

<div class="page-wrapper">
    <!-- MENU SIDEBAR-->
    <aside class="menu-sidebar2">

        <div class="menu-sidebar2__content js-scrollbar1">
            <div class="account2">
                <div class="image img-cir img-120">
                    <img src="images/icon/aa.png" />
                </div>
                <h4 class="name">{{ app.user.username }}</h4>


            </div>
            <nav class="navbar-sidebar2">
                <ul class="list-unstyled navbar__list">
                    <li>
                        <a href="{{  path('admin_homepage')}}">
                            <i class="fas fa-table"></i> Dashboard</a>
                    </li>



                    </li>
                    <li class="has-sub">
                        <a class="js-arrow" href="#">
                            <i class="fas fa-comment-alt"></i>Club
                            <span class="arrow">
                                    <i class="fas fa-angle-down"></i>
                                </span>
                        </a>
                        <ul class="list-unstyled navbar__sub-list js-sub-list">
                            <li>
                                <a href="{{  path('afficher_club_admin')}}">
                                    <i class="fas fa-table"></i>liste clubs</a>
                            </li>
                            <li>
                                <a href="{{  path('afficher_workshop_admin')}}">
                                    <i class="far fa-check-square"></i>liste workshop</a>
                            </li>

                        </ul>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fas fa-shopping-basket"></i> eCommerce</a>
                    </li>
                    <li class="has-sub">
                        <a class="js-arrow" href="#">
                            <i class="fas fa-comment-alt"></i>Cinema
                            <span class="arrow">
                                    <i class="fas fa-angle-down"></i>
                                </span>
                        </a>
                        <ul class="list-unstyled navbar__sub-list js-sub-list">
                            <li>
                                <a href="{{  path('readfilm')}}">
                                    <i class="fas fa-table"></i>liste films</a>
                            </li>
                            <li>
                                <a href="{{  path('readsalle')}}">
                                    <i class="far fa-check-square"></i>liste salles</a>
                            </li>
                            <li>
                                <a href="{{  path('createfilm')}}">
                                    <i class="fas fa-table"></i>ajouter film</a>
                            </li>
                            <li>
                                <a href="{{  path('createsalle')}}">
                                    <i class="far fa-check-square"></i>ajouter salle</a>
                            </li>
                            <li>
                                <a href="{{  path('StatAvis')}}">
                                    <i class="fas fa-table"></i>Stat Avis</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fas fa-calendar-alt"></i> Evenement</a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fas fa-eye"></i> Bibliotheque</a>
                    </li>

                    <li class="has-sub">
                        <a class="js-arrow" href="#">
                            Connection
                            <span class="arrow">
                                    <i class="fas fa-angle-down"></i>
                                </span>
                        </a>
                        <ul class="list-unstyled navbar__sub-list js-sub-list">
                            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                {#{{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |#}

                                <a href="{{ path('fos_user_security_logout') }} "
                                   class="fables-third-text-color fables-second-hover-color font-18 top-header-link px-3 px-md-2 px-lg-4 max-line-height">

                                    {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</a>

                            {% else %}
                                <a href="{{ path('fos_user_security_login') }}"   class="fables-third-text-color fables-second-hover-color font-18 top-header-link px-3 px-md-2 px-lg-4 max-line-height">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
                            {% endif %}

                            <li>
                                <a href="forget-pass.html">
                                    <i class="fas fa-unlock-alt"></i>Forget Password</a>
                            </li>
                        </ul>
                    </li>



                </ul>
                </li>
                </ul>
            </nav>
        </div>
    </aside>
    <!-- END MENU SIDEBAR-->
    {% block header %}
    <!-- HEADER DESKTOP-->
    <header class="header-desktop2">
        <div class="section__content section__content--p10">
            <div class="container-fluid">
                <div class="header-wrap2">

                </div>
            </div>
        </div>
    </header>

    <!-- END HEADER DESKTOP-->
    {% endblock %}
    <!-- PAGE CONTAINER-->
    <div class="page-container2">

        <!-- BREADCRUMB-->
        <section class="au-breadcrumb m-t-75">
            <div class="section__content section__content--p30">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="au-breadcrumb-content">
                                <div class="au-breadcrumb-left">
                                    <span class="au-breadcrumb-span">You are here:</span>
                                    <ul class="list-unstyled list-inline au-breadcrumb__list">
                                        <li class="list-inline-item active">
                                            <a href="#">Club</a>
                                        </li>
                                        <li class="list-inline-item seprate">
                                            <span>/</span>
                                        </li>
                                        <li class="list-inline-item">liste workshop</li>
                                    </ul>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>
        {% block content %}

        <div class="row">
            <div class="col-md-12">
                <!-- DATA TABLE -->

                <div class="table-responsive table-responsive-data2">
                    <table class="table table-data2">
                        <thead>
                        <tr>
                            <th>id</th>
                            <th>club</th>
                            <th>nom</th>
                            <th>nbrplaces</th>
                            <th>datedebut</th>
                            <th>datefin</th>
                            <th>discriptio</th>

                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for w in workshop %}
                        <tr class="tr-shadow">

                            <td>{{ w.Id}}</td>
                            <td class="desc">{{ w.club.nom }}</td>
                            <td>
                                <span class="block-email">{{w.nom}}</span>
                            </td>
                            <td>
                                <span class="status--process">{{ w.nombreplaces}}</span>
                            </td>
                            <td>{{ w.datedebut|date }}</td>
                            <td>{{ w.datefin|date}}</td>
                            <td>{{ w.discription }}</td>

                            <td>
                                <a class="table-data-feature">


                                </a>

                            </td>
                        </tr>

                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <!-- END DATA TABLE -->
            </div>
        </div>

</div>
    {% endblock %}
    {% block feater %}
        <div class="page-container2">

    <section>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="copyright">
                        <p>Copyright © 2019 Dev_ils. All rights reserved.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>
{% endblock %}
{% block javascripts %}
    <script type="text/javascript" src="{{ asset('back/vendor/jquery-3.2.1.min.js') }}"></script>
    <script type="text/javascript" src="{{  asset('back/vendor/bootstrap-4.1/popper.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('back/vendor/bootstrap-4.1/bootstrap.min.js') }}"></script>
    <script  type="text/javascript" src="{{  asset('back/vendor/slick/slick.min.js') }}"></script>
    <script type="text/javascript" src="{{  asset('back/vendor/wow/wow.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('back/vendor/animsition/animsition.min.js') }}"></script>
    <script  type="text/javascript" src="{{  asset('back/vendor/bootstrap-progressbar/bootstrap-progressbar.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('back/vendor/counter-up/jquery.waypoints.min.js') }}"></script>
    <script type="text/javascript" src="{{  asset('back/vendor/counter-up/jquery.counterup.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('back/vendor/circle-progress/circle-progress.min.js') }}"></script>
    <script type="text/javascript" src="{{  asset('back/vendor/perfect-scrollbar/perfect-scrollbar.js') }}"></script>
    <script type="text/javascript" src="{{  asset('back/vendor/chartjs/Chart.bundle.min.js') }}"></script>
    <script type="text/javascript" src="{{  asset('back/vendor/select2/select2.min.js') }}"></script>
    <script type="text/javascript" src="{{  asset('back/vendor/vector-map/jquery.vmap.js') }}"></script>
    <script type="text/javascript" src="{{  asset('back/vendor/vector-map/jquery.vmap.min.js') }}"></script>
    <script type="text/javascript "src="{{  asset('back/vendor/vector-map/jquery.vmap.sampledata.js') }}"></script>
    <script type="text/javascript "src="{{  asset('back/vendor/vector-map/jquery.vmap.world.js') }}"></script>
    <script  type="text/javascript" src="{{  asset('back/js/main.js') }}"></script>
{% endblock %}
</body>
</html>
<!-- end document--><!-- end document-->