{% extends 'client2.html.twig' %}

{% block content %}
    <div class="container">
        <div class="row my-4 my-lg-5">
            <div class="col-12 col-md-10 offset-md-1 col-lg-6 offset-lg-3 text-center">

                <p class="font-20 semi-font fables-main-text-color mt-4 mb-5">Liste workshop</p>

            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-md-12">
            <!-- DATA TABLE -->

            <div class="table-responsive table-responsive-data2">
                <table class="table table-data2">
                    <thead>
                    <tr>
                        <th>id</th>
                        <th>club</th>
                        <th>nom</th>
                        <th>nbrplaces</th>
                        <th>datedebut</th>
                        <th>datefin</th>
                        <th>discription</th>

                        <th>    inscrit </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for w in workshop %}
                        <tr class="tr-shadow">

                            <td>{{ w.Id}}</td>
                            <td class="desc">{{ w.club.nom }}</td>
                            <td>
                                <span class="block-email">{{w.nom}}</span>
                            </td>
                            <td>
                                <span class="status--process">{{ w.nombreplaces}}</span>
                            </td>
                            <td>{{ w.datedebut|date }}</td>
                            <td>{{ w.datefin|date}}</td>
                            <td>{{ w.discription }}</td>

                            <td>
                                <a href="{{  path('inscrit_workshop',{'id':w.id,'user':app.user.username})}}"
                                   class="font-25 semi-font fables-second-text-color u
                           fables-main-hover-color ml-2">s'inscrit </a>


                            </td>

                        </tr>

                    {% endfor %}
                    </tbody>
                </table>
                <a  href="{{ path('pdf_worksop') }}"

                    class="font-25 semi-font fables-second-text-color u
                           fables-main-hover-color ml-2">telecharger liste workshop </a>
            </div>
            <!-- END DATA TABLE -->
        </div>
    </div>

    </div>
    <br>
    <br><br><br><br><br>
    <br><br><br><br><br>
    <br><br><br><br>
{% endblock %}