{% extends 'base.html.twig' %}

{% block content %}
    <br>
    <br><br><br><br><br>
    <br><br><br><br><br>
    <br><br><br><br>
<table style="width:40%" BGCOLOR=#00ffff border="8">

    {{form(form)}}

    <tr >
        <td>id </td>

        <td>nom</td>
        <td>mail</td>
        <td>diis</td>
        <td>nbr</td>
        <td>act</td>
        <td>pre</td>
        <td>sat</td>

    </tr>
    {% for w in workshop %}

        <tr>
            <td>{{ w.Id}}</td>
            <td>{{w.nom}}</td>
            <td>{{ w.nombreplaces}}</td>
            <td>{{ w.datedebut|date }}</td>
            <td>{{ w.datefin|date}}</td>
            <td>{{ w.discription }}</td>
            <td>{{ w.club.nom }}</td>


        </tr>
    {% endfor %}
</table>
    <br>
    <br><br><br><br><br>
    <br><br><br><br><br>
    <br><br><br><br>
{% endblock %}