{% extends 'base.html.twig' %}

{% block content %}





 <center>

  <h1 style="color: #C82829" align="41"> Chercher un film </h1>
 </center>


 <br>
 {{form(formulaire)}}
 </br>

 <br><br><br><br><br>

 <table style="width:100%" :hover {background-color: #f5f5f5;}}>

 <tr >

  <td>nom</td>
  <td>discription</td>
  <td>duree</td>
  <td>categorie</td>
  <td>datesotie</td>
  <td>favoris</td>

 </tr>
 {% for m in film %}

  <tr>

   <td>{{ m.nom }}</td>
   <td>{{ m.discription }}</td>
   <td>{{ m.duree }}</td>
   <td>{{ m.categorie }}</td>
   <td>{{ m.datesotie |date('Y-m-d') }}</td>
   <td> <a href="{{ path('favorisfilm',{'id': m.nom ,'user':app.user.id}) }}"> favoris </a> </td>


  </tr>
 {% endfor %}
 </table>
 </center>



 </br></br></br></br></br>

 <a href="{{ path('readFilmGuest') }}"> Retour </a>

{% endblock %}