{% extends 'base.html.twig' %}

    {% block content %}


<h1 style="color: #C82829" align="41">LA LISTE DES Salles</h1>




<table style="width:100%" :hover {background-color: #f5f5f5;}>



    <tr >
        <td>id </td>
        <td>nom</td>
        <td>capacite</td>
        <td>update</td>
        <td>delete</td>


    </tr>
    {% for m in salle %}

        <tr>
            <td>{{ m.id }}</td>
            <td>{{ m.nom }}</td>
            <td>{{ m.capacite }}</td>
            <td><a href="{{ path('updatesalle',{'id':m.id}) }}">modif</a> </td>
            <td><a href="{{ path('deletesalle',{'id':m.id}) }}">supp</a> </td>



        </tr>
    {% endfor %}
</table>



{% endblock %}

